<launch>

  <node pkg="interfaces" name="decawave" type="decawaveInterface" output="screen">
	<rosparam command="load" file="$(find interfaces)/config/config.yaml"/>
  </node>

  <!-- Start rosbag to store data -->
  <node pkg="rosbag" name="test_bag" type="record" 
		args="-o ../bag_files/robotData /decawaveData"/>


</launch>
