<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Loading the map -->
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simulation_environment)/worlds/lawn_mower.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- TODO: Why are we doing this? -->
  <param name="simulation_environment" command="$(find xacro)/xacro --inorder '$(find simulation_environment)/models/lawn_mower.xacro'"/>
  
  <!-- Spawn the robot. TODO: Why not in the world file? -->
  <node name="lawn_mower_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param simulation_environment -model lawn_mower" />

</launch>
